%p
  SSLにより通信を暗号化することであなたの大切な情報を守ることができます。 
  信頼された認証局は、発行する証明書によって組織や個人、サーバの信頼性を担保します。
  証明書により相手を信頼し、暗号化された通信によって情報を伝達することで大切な情報を守ります。
%p
  #{@system[:systemname]} は人類信頼型オレオレ認証局です。
  すべての人が無償で自分だけの認証局、サーバ証明書、クライアント証明書を作成することができます。
  #{@system[:systemname]} をご利用される方々を無条件で信頼することで信頼性の確認コストを排除しています。
  世界中に悪意と誤りが存在しな場合にのみ、#{@system[:systemname]} によって発行される証明書はあなたの大切な情報を守ることができます。
%p
  世界に悪意が存在する場合においては、#{@system[:systemname]} の発行する証明書はなんら信頼できるものではありません。
  フィッシング詐欺対策などにまったく効果を期待できません。
  この場合は、#{@system[:systemname]} はシステム構築時にテスト用証明書の作成を作成しないとならない場合などに、 openssl の使い方をググるコストを低減することに利用できます。

%div{:class=>'alert-info', :role=>'alter'}
  %ul
    %li 2014年11月9日 自己署名証明書の内容確認画面を追加。
    %li 2014年11月9日 自己署名証明書での Common Name の入力チェックのバグを修正。
    %li 2014年11月3日 #{@system[:systemname]}のベータリリースとして自己署名証明書の作成機能をリリース。

-# vim: nowrap sw=2 sts=2 
